body{
    background-image:url(/Encrypted-Banking/images/SL-121021-47240-13.jpg);
    color: azure;
    text-align: center;
    background-size: cover;
}
    
  
  

input{
    text-align: center;
    max-width:max-content;
    

}
