body{
    background-image:url(/Encrypted-Banking/images/SL-121021-47240-13.jpg);
    color: azure;
    text-align: center;
    background-size: cover;
}
    
  
  

input{
    text-align: center;
    max-width:max-content;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;

}
label{
    font-size: 30px;
}
h1{
    font-size: 32px;
}
